<jrrb-form-header [titleHeader]="'Termo de Adesão'" />
<section class="jrrb-table-response-4">
  <div class={{classTextCenter}}>
    <h3 class={{classNoMargin}}>TERMOS E CONDIÇÕES GERAIS DE USO DO SITE</h3>
    <h4 class={{classNoMargin}}>WWW.CORFIBUS.COM.BR</h4>
  </div>
  <div class="jrrb-bg-color-b3 py-2 px-4 m-3 rounded rounded-5 shadow-sm">
    <!-- <ul class={{classNoMark}}>
      <li class={{classIdent}}>Estes termos e condições gerais de uso aplicam-se aos serviços prestados pela pessoa
        jurídica CORFIDENCE,
        devidamente registrada sob o CNPJ n. xxxxxxx, com sede na Rua Miguel Couto, 281 Jardin Beatriz - São Bernardo do
        Campo/SP.
      </li>
    </ul> -->
    <ul class={{classNoMark}}><b>1. OBJETO</b>
      <li class={{classIdent}}>Este Termo de Adesão tem por objeto o licenciamento de uso do site e prestação
        de serviços da CORFIDENCE. Para fins de especificar condições particulares da
        contratação, as partes poderão valer-se de documentação complementar descritos em
        Produto(s) e/ou Serviço(s) – Anexo I : Proposta Comercial.
      </li>
      <li class={{classIdent}}>Serviços adicionais poderão ser objeto de contratação específica, mediante
        documentação própria.
      </li>
      <li class={{classIdent}}>
        As disposições previstas neste instrumento são aplicadas pela CORFIDENCE
        em conformidade com a versão do site contratado.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>2. DA ACEITAÇÃO DOS TERMOS E CONDIÇÕES GERAIS DE USO</b>
      <li class={{classIdent}}>Ao utilizar o site WWW.CORFIBUS.COM.BR, o usuário aceita
        integralmente as presentes normas e compromete-se a observá-las, sob risco de aplicação
        das penalidades cabíveis. Antes de iniciar qualquer navegação no site, o usuário deverá
        cientificar-se de eventuais modificações ou atualizações ocorridas neste termos. Caso não
        concorde com quaisquer das regras aqui descritas, o usuário deve, imediatamente,
        abster-se de utilizar o serviço
      </li>
      <li class={{classIdent}}>Se for de seu interesse, poderá, ainda, entrar em contato com o serviço de
        atendimento ao cliente, para apresentar-lhe as suas ressalvas.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>3. DA NAVEGAÇÃO</b>
      <li class={{classIdent}}>A CORFIDENCE se compromete a utilizar todas as soluções técnicas à sua
        disposição para permitir o acesso ao serviço 24 (vinte e quatro) horas por dia, 7 (sete) dias
        por semana. Entretanto, ele poderá, a qualquer momento, interromper, limitar ou
        suspender o acesso ao site ou a algumas de suas páginas, a fim de realizar atualizações,
        modificações de conteúdo ou qualquer outra ação julgada necessária para o seu bom
        funcionamento.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>4. DA GESTÃO</b>
      <li class={{classIdent}}>Para a boa gestão, a CORFIDENCE poderá, a qualquer momento e mediante
        notificações, suspender o site, a fim de realizar atualizações e modificações.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>5. DO CADASTRO</b>
      <li class={{classIdent}}>O usuário deverá fornecer um endereço de e-mail válido, através do qual a
        CORFIDENCE realizará todos os contatos necessários. Todas as comunicações enviadas
        para o referido endereço serão consideradas lidas pelo usuário, que se compromete,
        assim, a consultar regularmente suas mensagens recebidas e a respondê-las em prazo
        razoável.
      </li>
      <li class={{classIdent}}>Após a confirmação de seu cadastro, o usuário possuirá um login (apelido) e uma
        senha pessoal, que deverão ser por ele utilizados para o acesso a sua conta no site
        WWW.CORFIBUS.COM.BR. Estes dados de conexão não poderão ser
        informados pelo usuário a terceiros, sendo de sua inteira responsabilidade o uso que deles
        seja feito.
      </li>
      <li class={{classIdent}}>Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta de
        acesso ao site.
      </li>
      <li class={{classIdent}}>O usuário poderá, a qualquer tempo e sem necessidade de justificação, requerer o
        cancelamento de seu cadastro junto a CORFIDENCE. O seu descadastramento será
        realizado o mais rapidamente possível, desde que não sejam verificados débitos em
        aberto.
      </li>
      <li class={{classIdent}}><b>Não há fidelidade contratual.</b></li>
      <li class={{classIdent}}>Conforme Anexo I : Proposta Comercial, os valores constantes neste anexo serão
        ajustados anualmente conforme o índice do IGP-M;
      </li>
    </ul>

    <ul class={{classNoMark}}><b>6. DAS RESPONSABILIDADES</b>
      <li class={{classIdent}}>A CORFIDENCE se responsabilizará pelos defeitos ou vícios encontrados nos
        serviços prestados, desde que tenha lhes dado causa. Defeitos ou vícios técnicos ou
        operacionais originados no próprio sistema do usuário não serão de responsabilidade da
        CORFIDENCE.
      </li>
      <li class={{classIdent}}>A CORFIDENCE responsabiliza-se apenas pelas informações que foram por ele
        diretamente divulgadas. Quaisquer informações incluídas pelos usuários, serão de inteira
        responsabilidade dos próprios.</li>
      <li class={{classIdent}}>
        <ul>O usuário é responsável, ainda:
          <li class={{classNoMark2}}><b>a) </b>pela correta utilização do site e de seus serviços, prezando pela boa
            convivência,
            pelo respeito e pela cordialidade no relacionamento com os demais usuários;</li>
          <li class={{classNoMark2}}><b>b) </b>pelo cumprimento das regras contidas neste instrumento, bem como normas
            de
            Direito nacional e de Direito internacional;</li>
          <li class={{classNoMark2}}><b>c) </b>pela proteção dos dados de acesso à sua conta (login e senha);
          </li>
          <li class={{classNoMark2}}><b>d) </b>A CORFIDENCE não será responsável pelos conteúdos ou atividades
            ilícitas praticadas através de seu site;
          </li>
        </ul>
      </li>
    </ul>

    <ul class={{classNoMark}}><b>7. DOS DIREITOS AUTORAIS</b>
      <li class={{classIdent}}>A estrutura do site WWW.CORFIBUS.COM.BR, bem como os
        textos, os gráficos, as imagens, as fotografias, os sons, os vídeos e as demais aplicações
        informáticas que o compõem são da CORFIDENCE e são protegidas pela legislação
        brasileira e internacional referente à propriedade intelectual.
      </li>
      <li class={{classIdent}}>Qualquer representação, reprodução, adaptação ou exploração parcial ou total dos
        conteúdos, marcas e serviços propostos pelo site, por qualquer meio que seja, sem
        autorização prévia, expressa e escrita da CORFIDENCE, é estritamente vedada,
        podendo-se recorrer às medidas cíveis e penais cabíveis. Estão excluídos desta previsão
        apenas os elementos que estejam expressamente designados no site como livres de
        direitos autorais.
      </li>
      <li class={{classIdent}}>O acesso não gera para o usuário qualquer direito de propriedade intelectual relativo
        a elementos do site, os quais restam sob a propriedade exclusiva da CORFIDENCE. É
        vedado ao usuário incluir no site dados que possam modificar o seu conteúdo ou sua
        aparência.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>8. DA POLÍTICA DE PRIVACIDADE</b>
      <li class={{classIdent}}>Todos os dados pessoais fornecidos pelo usuário no momento de seu cadastro ou
        que venham a ser solicitados posteriormente, a este título, permanecerão sigilosos e não
        serão repassados a quaisquer parceiros do site.
      </li>
      <li class={{classIdent}}>Em outras situações, a CORFIDENCE apenas poderá transmitir os dados pessoais
        a terceiros quando o usuário permiti-lo expressamente ou quando presentes as hipóteses
        legais previstas no Direito brasileiro, tais como a requisição judicial.
      </li>
      <li class={{classIdent}}>É de responsabilidade da CORFIDENCE a garantia de confidencialidade dos dados
        de negócio e dados pessoais fornecidos pelos usuários, devendo proteger o site contra
        tentativas de violações ou acessos clandestinos à sua base de dados.</li>
    </ul>

    <ul class={{classNoMark}}><b>9. DO SERVIÇO DE ATENDIMENTO AO USUÁRIO</b>
      <li class={{classIdent}}>Em caso de dúvidas, sugestões ou problemas com a utilização do site
        WWW.CORFIBUS.COM.BR, o usuário poderá contatar diretamente o
        seu serviço de atendimento, através do endereço de e-mail: {{emailContato}}.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>10.GARANTIA E VALIDADE TÉCNICA</b>
      <li class={{classIdent}}>O site será considerado adequado desde que suficiente na utilização para os fins a
        que se destina segundo suas especificações técnicas.
      </li>
      <li class={{classIdent}}>A Contratante se responsabiliza por manter hardware, conexão à internet e demais
        sites nos padrões estabelecidos pelos seus fornecedores e adequados à tecnologia do
        site.</li>
      <li class={{classIdent}}>Por tratar-se de bem móvel imaterial, sujeito a adaptações e incremento tecnológico,
        a CORFIDENCE não garante que o site não apresentará erros, mas fará o possível para
        consertá-los caso ocorram.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>11. DAS SANÇÕES</b>
      <li class={{classIdent}}>Sem prejuízo das demais medidas legais cabíveis, a CORFIDENCE poderá, a
        qualquer momento, advertir, suspender ou cancelar a contrato com usuário:</li>
      <li class={{classIdent}}>
        <ul>O usuário é responsável, ainda:
          <li class={{classNoMark2}}><b>a) </b>que descumprir quaisquer dos dispositivos contidos no presente
            instrumento;</li>
          <li class={{classNoMark2}}><b>b) </b>que descumprir os seus deveres de usuário;</li>
          <li class={{classNoMark2}}><b>c) </b>que praticar atos fraudulentos ou dolosos;</li>
          <li class={{classNoMark2}}><b>d) </b>cujo comportamento constitua ou possa vir a importar ofensa ou dano a
            terceiro ou ao próprio site;
          </li>
        </ul>
      </li>
    </ul>

    <ul class={{classNoMark}}><b>12.DAS ALTERAÇÕES</b>
      <li class={{classIdent}}>A CORFIDENCE se reserva o direito de modificar, a qualquer momento e sem
        qualquer aviso prévio, o site e os serviços, bem como as presentes normas, especialmente
        para adaptá-las às evoluções do site WWW.CORFIBUS.COM.BR, seja
        pela disponibilização de novas funcionalidades, seja pela supressão ou modificação
        daquelas já existentes.
      </li>
    </ul>

    <ul class={{classNoMark}}><b>13.DO DIREITO APLICÁVEL E DO FORO</b>
      <li class={{classIdent}}>Para a solução das controvérsias decorrentes do presente instrumento, será
        aplicado integralmente o Direito brasileiro, notadamente a sua legislação consumerista. Os
        eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede
        da CORFIDENCE.
      </li>
    </ul>
  </div>
</section>

@if(!termoAceito)
{
<jrrb-save-cancel [positionOnBotton]="true" [captionSave]="'Aceitar'" [classCaptionSave]="'text-white'"
  (onCancel)="ToCancel()" (onSave)="ToSave()" />
}
@else {
<div class="position-fixed bottom-0 w-100 text-center jrrb-bg-color-b3 p-2">
  <jrrb-button [isIcon]="true" [iconClassFa]="'door-open text-secondary'" [toolTip]="'Fechar tela'"
    (onClick)="ToCancel()" />
</div>
}