<div class="p-3 bg-danger text-white">
  <h3 class="m-0">{{recordDelete.titleDialog}}</h3>
  <small>{{recordDelete.subTitleDialog}}</small>
</div>

<ng-container *ngIf="recordDelete.recordExclude">
  <div mat-dialog-content>
    <div class="p-2 border border-2 rounded-4">
      <table class="table table-sm table-responsive table-borderless m-0">
        <tbody>
          <ng-container *ngFor="let column of recordDelete.listFieldsName; let i = index;">
            <tr class="m-0 h-auto">
              <td class="text-end m-0 p-0"><b>{{recordDelete.listFieldsCaption[i]}} : </b></td>
              <td class="m-0 p-0 ps-2"><span>{{recordDelete.recordExclude[column]}}</span></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <ng-container *ngIf="recordDelete.mensagemFooter">
      <div class="mt-3 text-center bg-warning text-danger jrrb-font-weight-600 p-2 rounded-4 mat-elevation-z1">
        <span>{{recordDelete.mensagemFooter}}</span>
      </div>
    </ng-container>

  </div>
</ng-container>

<ng-container *ngIf="!recordDelete.recordExclude">
  <div class="p-3 border m-3 border-2 rounded-4 bg-light mat-elevation-z1">
    <b class="fs-6">ERRO AO EXIBIR MENSAGEM</b>
  </div>
</ng-container>

<div class="justify-content-center d-grid m-0 p-0 mb-3" mat-dialog-actions>
  <div class="jrrb-font-open-sans jrrb-font-medium jrrb-font-weight-600 mb-2">
    <span>Deseja continuar ?</span>
  </div>
  <div class="text-center mt-1">
    <button class="btn me-2 btn-outline-success" cdkFocusInitial [mat-dialog-close]="1">
      <span class="jrrb-cursor-pointer">SIM</span>
    </button>
    <button class="btn btn-outline-warning" mat-button [mat-dialog-close]="0">
      <span class="jrrb-cursor-pointer">NÃO</span>
    </button>
  </div>
</div>