<div id="spinnerProcess" class="visually-hidden">
  <div class="d-inline-flex justify-content-center align-items-center sty_202411131335 opacity-75">
    <div>
      <div class="loader"></div>
      <div class="text-center">
        <p style="font-family: system-ui;">Aguarde alguns instantes . . .</p>
        <p style="font-family: system-ui;">Processando</p>
      </div>
    </div>
  </div>
</div>
<jrrb-messages-generic></jrrb-messages-generic>

@if(userConnected())
{
<menu>
  <router-outlet />
</menu>
}@else {
<router-outlet />
}