:root {
  --jrrbColorA: #dbc184;
  --jrrbColorA2: #ad8d18;
  --jrrbColorA3: #fff9ec;
  --jrrbColorA4: #dfe0df;

  --jrrbColorB: #2c4a77;
  --jrrbColorB2: #3292fa;
  --jrrbColorB3: #f5f9ff;
  --jrrbColorB4: #f1f1e6;

  --jrrbColorC: #d8d9d9;
  --jrrbColorC2: #00aab5;
  --jrrbColorC3: #ebfdfd;
  --jrrbColorC4: #a5c3c4;
}

.mat-drawer-content,
html,
body {
  height: 100%;
  overflow: hidden !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

button:focus-visible {
  outline: none !important;
}

hr {
  margin: 0px;
}

.mdc-form-field {
  height: 1.7rem !important;
}

.mdc-text-field--filled.mdc-text-field--disabled {
  background-color: transparent !important;
}

.mat-drawer-inner-container {
  height: 100vh !important;  
}

.mat-mdc-card-header-text {
  width: 100%;
  height: 99% !important;
}

.mat-drawer-container {
  z-index: 7 !important;
  height: 100vh !important;
  overflow-y: auto;
}

.mat-expansion-panel-header.mat-expanded {
  height: auto !important;
  background-color: var(--jrrbColorB) !important;
  margin-bottom: 7px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  border-radius: 0px !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: var(--jrrbColorA2) !important;
}

.mat-expansion-panel-header.mat-expanded a {
  color: var(--jrrbColorA2) !important;
}

.mat-expansion-panel-header.mat-expanded span {
  color: var(--jrrbColorA3) !important;
  text-transform: uppercase;
}

.mat-mdc-select-arrow-wrapper {
  padding-right: 0.5rem !important;
}

.mat-mdc-paginator .mat-mdc-select-value {
  padding-left: 0.2rem !important;
}

.mat-expansion-panel-body {
  padding: 0px !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #fff9ecd4 !important;
  position: fixed;
}

.mat-drawer {
  max-width: 17rem;
}

mat-spinner {
  width: 2rem !important;
  height: 1.5rem !important;
  padding-left: 0.2rem !important;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--jrrbColorB2);
}

tr {
  height: 36px !important;
  cursor: default;
}

tfoot {
  position: sticky;
  bottom: 0;
}

mat-card-actions {
  justify-content: center;
  background-color: var(--jrrbColorA3) !important;
}

.mat-date-range-input-end-wrapper {
  margin-left: 8px;
}

.mat-mdc-tab-body.mat-mdc-tab-body-active {
  overflow: hidden !important;
}

span,
p,
small,
label,
h1,
h2,
h3,
h4,
h5,
h6,
mat-label,
mat-card-subtitle,
mat-card-title,
.mat-mdc-paginator-page-size-label {
  font-family: 'Roboto';
  cursor: default;
}

div {
  cursor: default;
}

.mat-mdc-option-active {
  background-color: var(--jrrbColorA) !important;
}

.mat-mdc-paginator-page-size-label {
  font-size: small;
  font-weight: 500;
}

mat-label {
  color: var(--jrrbColorB);
  filter: brightness(0.2);
}

.mat-mdc-button-touch-target,
.mdc-button__label {
  cursor: pointer !important;
}

input,
select,
textarea,
.mat-mdc-select-min-line,
.mat-mdc-select-value-text {
  font-family: 'Open Sans' !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.mat-mdc-select-panel {
  padding: 0px !important;
}

.mat-mdc-option {
  min-height: 32px !important;
}

.mat-calendar-header {
  padding: 0px !important;
}

.mat-calendar-table-header {
  background-color: transparent !important;
}

.mat-calendar {
  height: 100% !important;
  font-size: smaller !important;
  font-family: 'Kanit', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--jrrbColorB) !important;
  background-color: var(--jrrbColorB3) !important;
}

.mdc-radio {
  padding: 5px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.mat-mdc-dialog-surface {
  border-radius: 4px !important;
  overflow: hidden !important;
  border-color: snow !important;
  overflow: hidden !important;
}

.cdk-global-overlay-wrapper {
  background-color: #fdfdfdbd;
}

.mat-mdc-menu-item-text,
.mat-mdc-menu-submenu-icon {
  color: var(--jrrbColorA4) !important;
  cursor: pointer !important;
}

.mat-mdc-menu-item {
  min-height: 2rem !important;
}

.mat-mdc-tooltip-trigger {
  color: var(--jrrbColorB) !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  min-width: auto !important;
  max-width: auto !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.mat-mdc-menu-content {
  background-color: var(--jrrbColorB);
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.mat-mdc-form-field-infix,
.mat-mdc-form-field-focus-overlay,
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mdc-text-field {
  padding: 0px !important;
  padding-left: 0.3rem !important;
}

.mdc-tooltip__surface {
  background-color: rgba(77, 119, 203, 90%) !important;
  padding: 6px 10px 6px 10px !important;
  border-radius: 14px !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  cursor: default !important;
  text-align: left !important;
}

.mat-mdc-row:hover {
  background-color: var(--jrrbColorC4);
}

.mat-mdc-paginator-range-label {
  margin: 0px !important;
  margin-right: 4px !important;
  text-align: center;
  font-size: small;
  font-weight: 500;
}

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

.mat-mdc-form-field-flex {
  font-weight: 500;
  font-family: 'Roboto', sans-serif !important;
}

.mat-mdc-tab-labels {
  background-color: var(--jrrbColorB4) !important;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

.mat-mdc-checkbox label {
  font-weight: 600 !important;
  color: #3f51b5 !important;
  padding: 0px !important;
}

.mat-mdc-menu-panel .mat-mdc-menu-panel {
  max-width: 100% !important;
}


.formSearch {
  z-index: 7 !important;
  top: 96px !important;
}

.formCad {
  background-color: transparent !important;
  margin: 0px;
  padding: 0px;
  border: solid 1px var(--jrrbColorC);
  border-radius: 4px;
  max-width: 100% !important;
}

/* jrrb-color-a [ início ] */

.jrrb-color-a {
  color: var(--jrrbColorA) !important;
}

.jrrb-color-a2 {
  color: var(--jrrbColorA2) !important;
}

.jrrb-color-a3 {
  color: var(--jrrbColorA3) !important;
}

.jrrb-color-a4 {
  color: var(--jrrbColorA4) !important;
}

.jrrb-bg-color-a {
  background-color: var(--jrrbColorA) !important;
}

.jrrb-bg-color-a2 {
  background-color: var(--jrrbColorA2) !important;
}

.jrrb-bg-color-a3 {
  background-color: var(--jrrbColorA3) !important;
}

.jrrb-bg-color-a4 {
  border-color: var(--jrrbColorA4) !important;
}

.jrrb-border-color-a {
  border-color: var(--jrrbColorA) !important;
}

.jrrb-border-color-a2 {
  border-color: var(--jrrbColorA2) !important;
}

.jrrb-border-color-a3 {
  border-color: var(--jrrbColorA3) !important;
}

.jrrb-border-color-a4 {
  border-color: var(--jrrbColorA4) !important;
}

/* jrrb-color-a [ fim ] */

/* jrrb-color-b [ início ] */

.jrrb-color-b {
  color: var(--jrrbColorB) !important;
}

.jrrb-color-b2 {
  color: var(--jrrbColorB2) !important;
}

.jrrb-color-b3 {
  color: var(--jrrbColorB3) !important;
}

.jrrb-color-b4 {
  color: var(--jrrbColorB4) !important;
}

.jrrb-bg-color-b {
  background-color: var(--jrrbColorB) !important;
}

.jrrb-bg-color-b2 {
  background-color: var(--jrrbColorB2) !important;
}

.jrrb-bg-color-b3 {
  background-color: var(--jrrbColorB3) !important;
}

.jrrb-bg-color-b4 {
  background-color: var(--jrrbColorB4) !important;
}

.jrrb-border-color-b {
  border-color: var(--jrrbColorB) !important;
}

.jrrb-border-color-b2 {
  border-color: var(--jrrbColorB2) !important;
}

.jrrb-border-color-b3 {
  border-color: var(--jrrbColorB3) !important;
}

.jrrb-border-color-b4 {
  border-color: var(--jrrbColorB4) !important;
}

/* jrrb-color-b [ fim ] */

/* jrrb-color-c [ início ] */

.jrrb-color-c {
  color: var(--jrrbColorC) !important;
}

.jrrb-color-c2 {
  color: var(--jrrbColorC2) !important;
}

.jrrb-color-c3 {
  color: var(--jrrbColorC3) !important;
}

.jrrb-color-c4 {
  color: var(--jrrbColorC4) !important;
}

.jrrb-bg-color-c {
  background-color: var(--jrrbColorC) !important;
}

.jrrb-bg-color-c2 {
  background-color: var(--jrrbColorC2) !important;
}

.jrrb-bg-color-c3 {
  background-color: var(--jrrbColorC3) !important;
}

.jrrb-bg-color-c4 {
  background-color: var(--jrrbColorC4) !important;
}

.jrrb-border-color-c {
  border-color: var(--jrrbColorC) !important;
}

.jrrb-border-color-c2 {
  border-color: var(--jrrbColorC2) !important;
}

.jrrb-border-color-c3 {
  border-color: var(--jrrbColorC3) !important;
}

.jrrb-border-color-c4 {
  border-color: var(--jrrbColorC4) !important;
}

/* jrrb-color-c [ fim ] */

.jrrb-bg-color-snow {
  background-color: snow !important;
}

.jrrb-bg-color-ghostwhite {
  background-color: ghostwhite !important;
}

.jrrb-color-snow {
  color: snow !important;
}

.jrrb-color-fffafa61 {
  color: #fffafa61 !important;
}

.mat-sort-header-arrow {
  color: snow;
}

.jrrb-font-medium {
  font-size: medium !important;
}

.jrrb-font-small {
  font-size: small !important;
}

.jrrb-font-xsmall {
  font-size: x-small !important;
}

.jrrb-font-12px {
  font-size: 12px !important;
}

.jrrb-font-14px {
  font-size: 14px !important;
}

.jrrb-font-22px {
  font-size: 22px !important;
}

.jrrb-outline-none {
  outline: none !important;
}

.jrrb-cursor-pointer {
  cursor: pointer;
}

.jrrb-cursor-move {
  cursor: move;
}

.jrrb-mat-label-focused {
  filter: brightness(0.2);
  font-weight: 500;
  color: var(--jrrbColorB);
  font-size: 0.8rem;
}

.jrrb-break-line-space {
  width: min-intrinsic;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: table-caption;
  display: -ms-grid;
  -ms-grid-columns: min-content;
}

.jrrb-menu-item-accordion {
  overflow-x: auto;
  max-height: 22rem;
}

.jrrb-font-family-lato {
  font-family: 'Lato', sans-serif !important;
}

.jrrb-font-family-roboto {
  font-family: 'Roboto', sans-serif !important;
}

.jrrb-font-family-Kanit {
  font-family: 'Kanit', sans-serif !important;
}

.jrrb-font-open-sans {
  font-family: 'Open Sans', sans-serif !important;
}

.jrrb-font-alkatra {
  font-family: 'Alkatra', sans-serif !important;
}

.jrrb-table-response-ox-auto {
  overflow-x: auto !important;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 1rem var(--jrrbColorB);
  background: var(--jrrbColorA4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 1rem var(--jrrbColorB);
  background: var(--jrrbColorA4);
}

.jrrb-image-splah {
  background-image: url('/assets/images/main/splash_login.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.loader {
  color: #035667;
  height: 100vh;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


.jrrb-table-response-ox-hidden {
  overflow-x: hidden !important;
}

.jrrb-table-response-4 {
  overflow-y: auto !important;
  max-height: calc(100vh - 13.5rem) !important;
  max-height: -moz-calc(100vh - 13.5rem) !important;
  max-height: -webkit-calc(100vh - 13.5rem) !important;
  max-height: -ms-calc(100vh - 13.5rem) !important;
}

.jrrb-table-response-report {
  overflow-y: auto !important;
  max-height: calc(100vh - 18rem) !important;
  max-height: -moz-calc(100vh - 18rem) !important;
  max-height: -webkit-calc(100vh - 18rem) !important;
  max-height: -ms-calc(100vh - 18rem) !important;
}

.jrrb-table-response-6 {
  overflow-y: auto !important;
  max-height: calc(100vh - 12rem) !important;
  max-height: -moz-calc(100vh - 12rem) !important;
  max-height: -webkit-calc(100vh - 12rem) !important;
  max-height: -ms-calc(100vh - 12rem) !important;
}

.jrrb-margin-negative-05rem {
  margin-top: -0.5rem;
}

@media all and (min-width: 320px) and (max-width: 360px) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 29rem) !important;
    max-height: -webkit-calc(100vh - 29rem) !important;
    max-height: -ms-calc(100vh - 29rem) !important;
    max-height: calc(100vh - 29rem) !important;
  }

  .jrrb-width-response {
    overflow-x: auto;
    width: calc(100vw + 22rem);
    width: calc(-moz-100vw + 22rem);
    width: calc(-webkit-100vw + 22rem);
    width: calc(-ms-100vw + 22rem);
  }


  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 28rem) !important;
    max-height: -webkit-calc(100vh - 28rem) !important;
    max-height: -ms-calc(100vh - 28rem) !important;
    max-height: calc(100vh - 28rem) !important;
  }

  .jrrb-margin-top-response-1rem {
    margin-top: 1rem;
  }

  .jrrb-margin-top-response-2rem {
    margin-top: 2rem;
  }

  .jrrb-margin-bottom-response-2rem {
    margin-bottom: 2rem;
  }

  .jrrb-margin-bottom-response-1rem {
    margin-bottom: 1rem;
  }

  .jrrb-table-response-6 {
    overflow-y: auto !important;
    max-height: calc(100vh - 16rem) !important;
    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
  }
}

@media all and (min-width: 361px) and ((max-height: 740px) or ((max-width: 540px) and (max-height: 720px)) or ((max-width: 480px) and (max-height: 915px))) {
  .jrrb-table-response {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 11rem) !important;
    max-height: -webkit-calc(100vh - 11rem) !important;
    max-height: -ms-calc(100vh - 11rem) !important;
    max-height: calc(100vh - 11rem) !important;
  }

  .jrrb-table-response-2 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 24rem) !important;
    max-height: -webkit-calc(100vh - 24rem) !important;
    max-height: -ms-calc(100vh - 24rem) !important;
    max-height: calc(100vh - 24rem) !important;
  }

  .jrrb-table-response-5 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 20rem) !important;
    max-height: -webkit-calc(100vh - 20rem) !important;
    max-height: -ms-calc(100vh - 20rem) !important;
    max-height: calc(100vh - 20rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }
}

@media all and (min-width: 375px) and (max-width: 429px) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 29rem) !important;
    max-height: -webkit-calc(100vh - 29rem) !important;
    max-height: -ms-calc(100vh - 29rem) !important;
    max-height: calc(100vh - 29rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 29rem) !important;
    max-height: -webkit-calc(100vh - 29rem) !important;
    max-height: -ms-calc(100vh - 29rem) !important;
    max-height: calc(100vh - 29rem) !important;
  }

  .jrrb-table-response-5 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 22rem) !important;
    max-height: -webkit-calc(100vh - 22rem) !important;
    max-height: -ms-calc(100vh - 22rem) !important;
    max-height: calc(100vh - 22rem) !important;
  }

  .jrrb-table-response-7 {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }

  .jrrb-margin-top-response-2rem {
    margin-top: 2rem;
  }

  .jrrb-margin-bottom-response-2rem {
    margin-bottom: 2rem;
  }

  .jrrb-margin-bottom-response-1rem {
    margin-bottom: 1rem;
  }

  .jrrb-table-response-6 {
    overflow-y: auto !important;
    max-height: calc(100vh - 16rem) !important;
    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
  }
}

@media all and (min-width: 430px) and (max-width: 540px) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 29rem) !important;
    max-height: -webkit-calc(100vh - 29rem) !important;
    max-height: -ms-calc(100vh - 29rem) !important;
    max-height: calc(100vh - 29rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 20rem) !important;
    max-height: -webkit-calc(100vh - 20rem) !important;
    max-height: -ms-calc(100vh - 20rem) !important;
    max-height: calc(100vh - 20rem) !important;
  }

  .jrrb-margin-top-response-2rem {
    margin-top: 2rem;
  }

  .jrrb-margin-bottom-response-2rem {
    margin-bottom: 2rem;
  }

  .jrrb-margin-bottom-response-1rem {
    margin-bottom: 1rem;
  }

  .jrrb-table-response-6 {
    overflow-y: auto !important;
    max-height: calc(100vh - 16rem) !important;
    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
  }
}

@media all and (min-width: 541px) and (max-width: 799px) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 26rem) !important;
    max-height: -webkit-calc(100vh - 26rem) !important;
    max-height: -ms-calc(100vh - 26rem) !important;
    max-height: calc(100vh - 26rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }

  .jrrb-table-response-5 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 22rem) !important;
    max-height: -webkit-calc(100vh - 22rem) !important;
    max-height: -ms-calc(100vh - 22rem) !important;
    max-height: calc(100vh - 22rem) !important;
  }

  .jrrb-margin-top-response-2rem {
    margin-top: 2rem;
  }

  .jrrb-margin-bottom-response-2rem {
    margin-bottom: 2rem;
  }

  .jrrb-margin-bottom-response-1rem {
    margin-bottom: 1rem;
  }

  .jrrb-table-response-6 {
    overflow-y: auto !important;
    max-height: calc(100vh - 16rem) !important;
    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
  }
}

@media all and (min-width: 800px) and (max-width: 912px) {
  .jrrb-width-response {
    overflow-x: auto;
    width: calc(100vw + 13rem);
    width: calc(-moz-100vw + 13rem);
    width: calc(-webkit-100vw + 13rem);
    width: calc(-ms-100vw + 13rem);
  }
  
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 26rem) !important;
    max-height: -webkit-calc(100vh - 26rem) !important;
    max-height: -ms-calc(100vh - 26rem) !important;
    max-height: calc(100vh - 26rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 30rem) !important;
    max-height: -webkit-calc(100vh - 30rem) !important;
    max-height: -ms-calc(100vh - 30rem) !important;
    max-height: calc(100vh - 30rem) !important;
  }

  .jrrb-table-response-5 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 22rem) !important;
    max-height: -webkit-calc(100vh - 22rem) !important;
    max-height: -ms-calc(100vh - 22rem) !important;
    max-height: calc(100vh - 22rem) !important;
  }

  .jrrb-margin-top-response-2rem {
    margin-top: 2rem;
  }

  .jrrb-margin-bottom-response-2rem {
    margin-bottom: 2rem;
  }

  .jrrb-margin-bottom-response-1rem {
    margin-bottom: 1rem;
  }

  .jrrb-table-response-6 {
    overflow-y: auto !important;
    max-height: calc(100vh - 16rem) !important;
    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
  }
}

@media all and ((min-width: 913px) and (max-width: 990px)) and ((min-height: 360px) and (max-height: 1368px)) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 11rem) !important;
    max-height: -webkit-calc(100vh - 11rem) !important;
    max-height: -ms-calc(100vh - 11rem) !important;
    max-height: calc(100vh - 11rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }

  .jrrb-table-response-6 {
    overflow-y: auto !important;
    max-height: calc(100vh - 16rem) !important;
    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
  }
}

@media all and ((min-width: 991px) and (max-width: 1270px)) and ((min-height: 600px) and (max-height: 1366px)) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 20rem) !important;
    max-height: -webkit-calc(100vh - 20rem) !important;
    max-height: -ms-calc(100vh - 20rem) !important;
    max-height: calc(100vh - 20rem) !important;
  }

  .jrrb-width-response {
    overflow-x: auto;
    width: calc(100vw + 14rem);
    width: calc(-moz-100vw + 14rem);
    width: calc(-webkit-100vw + 14rem);
    width: calc(-ms-100vw + 14rem);
  }

  .jrrb-width-response {
    overflow-x: auto;
    width: calc(100vw + 22rem);
    width: calc(-moz-100vw + 22rem);
    width: calc(-webkit-100vw + 22rem);
    width: calc(-ms-100vw + 22rem);
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }

  .jrrb-table-response-5 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
    max-height: calc(100vh - 16rem) !important;
  }
}

@media all and ((min-width: 1139px) and (max-width: 1280px)) and ((min-height: 600px) and (max-height: 768px)) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 11rem) !important;
    max-height: -webkit-calc(100vh - 11rem) !important;
    max-height: -ms-calc(100vh - 11rem) !important;
    max-height: calc(100vh - 11rem) !important;
  }

  .jrrb-table-response_3 {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
    max-height: calc(100vh - 16rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }
}

@media all and (min-width: 1271px) {
  .jrrb-table-response {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 20rem) !important;
    max-height: -webkit-calc(100vh - 20rem) !important;
    max-height: -ms-calc(100vh - 20rem) !important;
    max-height: calc(100vh - 20rem) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 20rem) !important;
    max-height: -webkit-calc(100vh - 20rem) !important;
    max-height: -ms-calc(100vh - 20rem) !important;
    max-height: calc(100vh - 20rem) !important;
  }

  .jrrb-formcad-response_2 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }


  .jrrb-table-response_3 {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
    max-height: calc(100vh - 16rem) !important;
  }

  .jrrb-table-response-5 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 20rem) !important;
    max-height: -webkit-calc(100vh - 20rem) !important;
    max-height: -ms-calc(100vh - 20rem) !important;
    max-height: calc(100vh - 20rem) !important;
  }

  .jrrb-table-response-7 {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 14rem) !important;
    max-height: -webkit-calc(100vh - 14rem) !important;
    max-height: -ms-calc(100vh - 14rem) !important;
    max-height: calc(100vh - 14rem) !important;
  }

}

@media all and (((max-width: 360px) and (max-height: 740px)) or ((max-width: 540px) and (max-height: 720px)) or ((max-width: 480px) and (max-height: 915px))) {
  .jrrb-formcad-response {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 162px) !important;
    max-height: -webkit-calc(100vh - 162px) !important;
    max-height: -ms-calc(100vh - 162px) !important;
    max-height: calc(100vh - 162px) !important;
  }

  .jrrb-table-response-modal {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 22rem) !important;
    max-height: -webkit-calc(100vh - 22rem) !important;
    max-height: -ms-calc(100vh - 22rem) !important;
    max-height: calc(100vh - 22rem) !important;
  }

  .jrrb-table-response-7 {
    overflow-y: auto !important;

    max-height: -moz-calc(100vh - 25rem) !important;
    max-height: -webkit-calc(100vh - 25rem) !important;
    max-height: -ms-calc(100vh - 25rem) !important;
    max-height: calc(100vh - 25rem) !important;
  }

  .jrrb-width-response {
    overflow-x: auto;
    width: calc(100vw + 18rem);
    width: calc(-moz-100vw + 18rem);
    width: calc(-webkit-100vw + 18rem);
    width: calc(-ms-100vw + 18rem);
  }

  .jrrb-formcad-response-report {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 11rem) !important;
    max-height: -webkit-calc(100vh - 11rem) !important;
    max-height: -ms-calc(100vh - 11rem) !important;
    max-height: calc(100vh - 11rem) !important;
  }

  .jrrb-formcad-response_2 {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 16rem) !important;
    max-height: -webkit-calc(100vh - 16rem) !important;
    max-height: -ms-calc(100vh - 16rem) !important;
    max-height: calc(100vh - 16rem) !important;
  }

  .jrrb-formcad-response_tab {
    overflow-y: auto !important;
    overflow-x: auto !important;

    max-height: -moz-calc(100vh - 300px) !important;
    max-height: -webkit-calc(100vh - 300px) !important;
    max-height: -ms-calc(100vh - 300px) !important;
    max-height: calc(100vh - 300px) !important;
  }
}

.jrrb-formcad-response_tab {
  overflow-y: auto;
  max-height: -moz-calc(100vh - 280px) !important;
  max-height: -webkit-calc(100vh - 280px) !important;
  max-height: -ms-calc(100vh - 280px) !important;
  max-height: calc(100vh - 280px) !important;
}

.jrrb-formcad-response_pesquisa_global {
  overflow-y: auto;
  max-height: -moz-calc(100vh - 10.5rem) !important;
  max-height: -webkit-calc(100vh - 10.5rem) !important;
  max-height: -ms-calc(100vh - 10.5rem) !important;
  max-height: calc(100vh - 10.5rem) !important;
}

.jrrb-formcad-response_tab_config {
  overflow-y: auto;
  max-height: -moz-calc(100vh - 14rem) !important;
  max-height: -webkit-calc(100vh - 14rem) !important;
  max-height: -ms-calc(100vh - 14rem) !important;
  max-height: calc(100vh - 14rem) !important;
}

.jrrb-formcad-response_tab_config_2 {
  overflow-y: auto;
  max-height: -moz-calc(100vh - 23rem) !important;
  max-height: -webkit-calc(100vh - 23rem) !important;
  max-height: -ms-calc(100vh - 23rem) !important;
  max-height: calc(100vh - 23rem) !important;
}

.jrrb-formcad-response_tab_config_3 {
  overflow-y: auto;
  max-height: -moz-calc(100vh - 21rem) !important;
  max-height: -webkit-calc(100vh - 21rem) !important;
  max-height: -ms-calc(100vh - 21rem) !important;
  max-height: calc(100vh - 21rem) !important;
}

.jrrb-formcad-response_tab_config_4 {
  overflow-y: auto;
  max-height: -moz-calc(100vh - 18rem) !important;
  max-height: -webkit-calc(100vh - 18rem) !important;
  max-height: -ms-calc(100vh - 18rem) !important;
  max-height: calc(100vh - 18rem) !important;
}

.jrrb-font-w-500 {
  font-weight: 500;
}

.jrrb-router-app {
  position: fixed;
  top: 8.53rem;
}

.jrrb-no-scroll {
  overflow: hidden !important;
}

.jrrb-form-search {
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 7;
}

.jrrb-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.jrrb-radio-list-overflow-y {
  overflow-y: auto;
  max-height: calc(100vh - 24rem);
  max-height: -moz-calc(100vh - 24rem);
  max-height: -webkit-calc(100vh - 24rem);
  max-height: -ms-calc(100vh - 24rem);
}

.jrrb-heigth-100vh {
  height: 100vh;
}

.jrrb-min-width-7rem {
  min-width: 7rem;
}

.jrrb-no-mark-ul {
  list-style-type: none;
}

.jrrb-text-ident-3rem {
  text-indent: 3rem;
}
