<mat-expansion-panel class="mat-elevation-z0 border jrrb-border-color-b jrrb-bg-color-b4">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="jrrb-color-b">
        <i class="{{coreFrameWork.faBase()}}coins me-2"></i>
        <label>Financeiro</label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <menu-item [titleItem]="'Tabelas'" [iconFa]=coreFrameWork.faTable()>
    <div class="d-flex flex-column">
      <span class="{{coreFrameWork.itemMenu()}}">Tipos Despesas</span>
    </div>
  </menu-item>

</mat-expansion-panel>