<mat-expansion-panel class="mat-elevation-z0 border jrrb-border-color-b jrrb-bg-color-b4">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="jrrb-color-b">
        <i class="{{coreFrameWork.faBase()}}bus me-2"></i>
        <label>Veículos</label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <menu-item [titleItem]="'Tabelas'" [iconFa]=coreFrameWork.faTable()>
    <div class="d-flex flex-column">
      <span class="{{coreFrameWork.itemMenu()}}">Combustíveis</span>
      <span class="{{coreFrameWork.itemMenu()}}">Categorias</span>
      <span class="{{coreFrameWork.itemMenu()}}">Chassis</span>
      <span class="{{coreFrameWork.itemMenu()}}">Carrocerias</span>
      <span class="{{coreFrameWork.itemMenu()}}">Marcas</span>
      <span class="{{coreFrameWork.itemMenu()}}">Modelos</span>
    </div>
  </menu-item>

  <menu-item [titleItem]="'Cadastros'" [iconFa]=coreFrameWork.faDatabase()>
    <div class="d-flex flex-column">
      <span class="{{coreFrameWork.itemMenu()}}">Motoristas</span>
      <span class="{{coreFrameWork.itemMenu()}}">Veículos</span>
    </div>
  </menu-item>
</mat-expansion-panel>