<jrrb-button [isLink]="true" [iconClassFa]="'bus fa-sm'" [matMenuTriggerFor]="veiculos" [caption]="'Veículos'"
  onmouseenter="this.click()" />
<mat-menu #veiculos="matMenu" class="menu-left-1rem">
  <button mat-menu-item [matMenuTriggerFor]="tabelas"><a class="{{this.coreFrameWork.faTable()}}"></a>Tabelas</button>
  <button mat-menu-item [matMenuTriggerFor]="cadastros"><a
      class="{{this.coreFrameWork.faDatabase()}}"></a>Cadatros</button>
</mat-menu>

<mat-menu #tabelas="matMenu">
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Combustíveis</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Categorias</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Chassis</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Carrocerias</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Marcas</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Modelos</button>
</mat-menu>

<mat-menu #cadastros="matMenu">
  <button mat-menu-item><a class="{{this.coreFrameWork.faDatabase()}}"></a>Motoristas</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faDatabase()}}"></a>Veículos</button>
</mat-menu>