<mat-expansion-panel class="mat-elevation-z0 border jrrb-border-color-b jrrb-bg-color-b4">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="jrrb-color-b">
        <i class="{{coreFrameWork.faBase()}}table me-2"></i>
        <label>Administração</label>
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <menu-item [titleItem]="'Gerais'" [iconFa]=coreFrameWork.faTable()>
    <div class="d-flex flex-column">
      <span class="{{coreFrameWork.itemMenu()}}">Tipos Documentos</span>
      <span class="{{coreFrameWork.itemMenu()}}">Tipos Contatos</span>
      <span class="{{coreFrameWork.itemMenu()}}">Bancos</span>
      <span class="{{coreFrameWork.itemMenu()}}">Cores</span>
    </div>
  </menu-item>

  <menu-item [titleItem]="'Diário'" [iconFa]=coreFrameWork.faTable()>
    <div class="d-flex flex-column">
      <span class="{{coreFrameWork.itemMenu()}}">Assuntos</span>
    </div>
  </menu-item>

  <menu-item [titleItem]="'CEP'" [iconFa]=coreFrameWork.faHome()>
    <div class="d-flex flex-column">
      <span class="{{coreFrameWork.itemMenu()}}">Tipos Endereços</span>
      <span class="{{coreFrameWork.itemMenu()}}">Tipos Logradouros</span>
      <span class="{{coreFrameWork.itemMenu()}}">Estados</span>
      <span class="{{coreFrameWork.itemMenu()}}">Cidades</span>
      <span class="{{coreFrameWork.itemMenu()}}">CEP</span>
    </div>
  </menu-item>

  <menu-item [titleItem]="'Cadastros'" [iconFa]=coreFrameWork.faDatabase()>
    <div class="d-flex flex-column">
      <span class="{{coreFrameWork.itemMenu()}}">Clientes</span>
      <span class="{{coreFrameWork.itemMenu()}}">Fornecedores</span>
    </div>
  </menu-item>

</mat-expansion-panel>