<jrrb-button [isLink]="true" [iconClassFa]="'dollar-sign fa-sm'" [matMenuTriggerFor]="vendas" [caption]="'Vendas'"/>

<mat-menu #vendas="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="tabelas"><a class="{{this.coreFrameWork.faTable()}}"></a>Tabelas</button>
  <button mat-menu-item [matMenuTriggerFor]="cadastros"><a class="{{this.coreFrameWork.faDatabase()}}"></a>Cadatros</button>
</mat-menu>

<mat-menu #tabelas="matMenu">
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Serviços</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faTable()}}"></a>Motivos de Cancelamentos</button>
</mat-menu>

<mat-menu #cadastros="matMenu">
  <button mat-menu-item><a class="{{this.coreFrameWork.faDatabase()}}"></a>Valores KM</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faDatabase()}}"></a>Valores Serviços</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faDatabase()}}"></a>Valores Períodos</button>
  <button mat-menu-item><a class="{{this.coreFrameWork.faDatabase()}}"></a>Vendas Eventuais</button>
</mat-menu>

