@if (isBasic)
{
<a id="{{jrrbIdButton}}" class="align-content-center me-2 {{classButton}}" mat-button (click)="ToClick()" matTooltip="{{toolTip}}"
  matTooltipPosition="above">

  @if (iconClassFa)
  {
  <span class="me-2 jrrb-button-pointer fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
  }

  <span class="jrrb-button-pointer {{classCaption}}">{{caption}}</span>
</a>
}

@if(isRaised)
{
<a id="{{jrrbIdButton}}" class="align-content-center me-2 {{classButton}}" mat-raised-button (click)="ToClick()"
  matTooltip="{{toolTip}}" matTooltipPosition="above">
  @if(iconClassFa)
  {
  <span class="me-2 jrrb-button-pointer fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
  }
  <span class="jrrb-button-pointer {{classCaption}}">{{caption}}</span>
</a>
}

@if(isStroked)
{
<a id="{{jrrbIdButton}}" class="align-content-center me-2 {{classButton}}" mat-stroked-button (click)="ToClick()"
  matTooltip="{{toolTip}}" matTooltipPosition="above">
  @if(iconClassFa)
  {
  <span class="me-2 jrrb-button-pointer fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
  }
  <span class="jrrb-button-pointer {{classCaption}}">{{caption}}</span>
</a>
}

@if(isFlat)
{
<a id="{{jrrbIdButton}}" class="align-content-center me-2 {{classButton}}" mat-flat-button (click)="ToClick()" matTooltip="{{toolTip}}"
  matTooltipPosition="above">
  @if(iconClassFa)
  {
  <span class="me-2 jrrb-button-pointer fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
  }
  <span class="jrrb-button-pointer {{classCaption}}">{{caption}}</span>
</a>
}

@if(isIcon)
{
<a id="{{jrrbIdButton}}" class="p-0 align-content-center me-2 {{classButton}}" mat-icon-button (click)="ToClick()"
  matTooltip="{{toolTip}}" matTooltipPosition="above">
  <span class="fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
</a>
}

@if(isFab)
{
<a id="{{jrrbIdButton}}" class="p-0 align-content-center me-2 {{classButton}}" mat-fab (click)="ToClick()" matTooltip="{{toolTip}}"
  matTooltipPosition="above">
  <span class="jrrb-button-pointer fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
</a>
}

@if(isMiniFab)
{
<a id="{{jrrbIdButton}}" class="p-0 align-content-center me-2 {{classButton}}" mat-mini-fab (click)="ToClick()" matTooltip="{{toolTip}}"
  matTooltipPosition="above">
  <span class="jrrb-button-pointer fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
</a>
}

@if(isLink)
{
<a id="{{jrrbIdButton}}" class="align-content-center me-2 {{classButton}}" (click)="ToClick()" matTooltip="{{toolTip}}"
  matTooltipPosition="above">
  @if(iconClassFa)
  {
  <span class="me-2 jrrb-button-pointer fw-bold fa fa-solid fa-{{iconClassFa}}"></span>
  }

  <span class="jrrb-button-pointer {{classCaption}}">{{caption}}</span>
</a>
}